<footer class="site-footer">
  <div class="wrap">
    <div class="row">
      <div class="small-2 large-4 columns">
        <h2 class="footer-heading">{{ site.title }}</h2>
      </div>
    </div>

    <div class="row display">
      <div class="small-2 large-4 columns">
        <a href="mailto:{{ site.email }}">
          <span class="icon email">
            <img src="/img/email-icon-16.png">
          </span>
          <span class="username">{{ site.email }}</span>
        </a>
      </div>
    </div>

    <div class="row display">
      <div class="small-2 large-4 columns">
        <a href="https://twitter.com/{{ site.usernametwitter }}">
          <span class="icon twitter">
            <img src="/img/twitter-icon-16.png">
          </span>
          <span class="username">{{ site.usernametwitter }}</span>
        </a>
      </div>
    </div>

    <div class="row display">
      <div class="small-2 large-4 columns">
        <a href="https://github.com/{{ site.username }}">
          <span class="icon github">
            <img src="/img/github-icon-16.png">
          </span>
          <span class="username">{{ site.username }}</span>
        </a>
      </div>
    </div>
    

  </div>
</footer>
