<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li>
          <a href="mailto:{{ site.email }}">{{ site.email }}
            <span class="icon email">
              <img src="/img/email-icon-16.png"
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="https://github.com/{{ site.username }}">
            <span class="icon github">
              <img src="/img/github-icon-16.png"
            </span>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.usernametwitter }}">
            <span class="icon twitter">
              <img src="/img/github-icon-16.png"
            </span>
            <span class="username">{{ site.usernametwitter }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
